@layer base {

	/* basics */
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-300;
	}
	body {
		overflow-x: hidden; /* fullscreen btn tooltip */
	}

	/* typography */
	h1 {
		@apply text-2xl tracking-wider text-gray-500;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p, a, label {
		@apply leading-relaxed;
	}
	a {
		@apply text-indigo-500;
	}
	a:hover:not(.tab) {
		text-decoration: underline;
	}
	p {
		display: block;
	}
	hr {
		@apply border bg-gray-300 border-gray-300 my-2;
	}
}

@layer components {

	/* inputs */
	input[type=number], input[type=text], select {
		@apply rounded border-2 border-gray-300 focus:border-indigo-500 py-1 px-3;
	}
	input[type=number], input[type=text] {
		@apply w-24;
	}
	input[type=number]:disabled, input[type=text]:disabled {
		@apply bg-gray-300;
	}
	label.active {
		@apply text-indigo-500;
	}

	.alert {
		@apply bg-gray-100 rounded py-2 px-4 my-2;
	}

}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}
