@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-gray-100;
	}
	::selection {
		@apply bg-gray-100;
	}

	h1 {
		@apply text-2xl font-light tracking-wider;
	}
	h2 {
		@apply text-xl font-medium;
	}
	p, a, label {
		@apply leading-relaxed;
	}
}

@layer components {
	*:focus, button:focus {
        @apply outline-none ring-2 ring-indigo-300;
    }

	.tab {
		cursor: pointer;
		@apply sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 font-medium inline-flex items-center leading-none border-gray-200 text-gray-600 hover:text-gray-900 tracking-wider rounded-t-md;
	}
	.tab.active {
		@apply bg-gray-100 border-indigo-500 text-indigo-500;
	}
	.tab:hover {
		@apply bg-gray-100;
	}

	input[type=number], select {
		@apply rounded border-2 border-gray-300 focus:border-indigo-500 py-1 px-3;
	}
	input[type=number] {
		@apply w-24;
	}
	input[type=number]:disabled {
		@apply bg-gray-300;
	}
	label.active {
		@apply text-indigo-500;
	}

	.btn.indigo {
		@apply bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded;
	}

	a {
		@apply text-indigo-500;
	}
	a:hover:not(.tab) {
		text-decoration: underline;
	}

	p {
		display: block;
	}

	hr {
		@apply border bg-gray-300 border-gray-300 my-2;
	}
}


@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}